# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [42]:
#Path for the file we want to import
p='../WeatherPy/Cities_Weather_Output.csv'

#Import the file from a csv to a dataframe
cities=pd.read_csv(p)
cities.head() #Show the first 5 records

,Unnamed: 0,City,Country,Date,Lat,Lon,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,Ust'-Omchug,RU,1584498446,61.15,149.63,7.34,82,100,5.93
1,1,Faya,SA,1584498446,18.39,42.45,61.66,87,40,9.17
2,2,Shaoguan,CN,1584498446,24.80,113.58,64.62,86,100,2.84
3,3,Saint-Philippe,RE,1584498358,-21.36,55.77,71.06,88,90,5.82
4,4,Ust-Maya,RU,1584498447,60.42,134.53,15.89,87,100,3.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [77]:
#configuring gmaps
gmaps.configure(api_key=g_key)

#Locations and weight for the heatmap
locations = cities[["Lat", "Lon"]]
weight=cities['Humidity (%)']

In [78]:
#Creating the heatmap

#creating the map figure
citiesMap = gmaps.figure(zoom_level=1.9,center=(20,0))

#creating a the layer to add to the map
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=max(cities['Humidity (%)']),
                                 point_radius=2)
#Adding the layer
citiesMap.add_layer(heat_layer)

#Displaying the map
citiesMap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [79]:
#Filtering the cities based on my weather preferences

#keeping only the rows that meet the condition below
hotel_df=cities.loc[(cities['Max Temp (F)']<78) &
                          (cities['Max Temp (F)']>72) &
                          (cities['Wind Speed (mph)']<10) & 
                          (cities['Cloudiness (%)']==0)
                          ,'City':'Wind Speed (mph)']

#Displaying the new Dataframe with only the cities I'm interested in for Vacation
hotel_df

,City,Country,Date,Lat,Lon,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
142,Presidente Epitácio,BR,1584498859,-21.76,-52.12,74.41,82,0,2.59
237,Batemans Bay,AU,1584499049,-35.72,150.18,75.00,45,0,1.01
265,Dostpur,IN,1584499143,26.28,82.47,72.72,41,0,8.61
415,Benemérito de las Américas,MX,1584499429,16.52,-90.64,73.02,78,0,3.36
442,Flinders,AU,1584499522,-34.58,150.86,76.28,41,0,8.05
545,Dubbo,AU,1584499596,-32.25,148.62,77.00,38,0,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [80]:
#Adding a column for Hotel Name
hotel_df['Hotel Name']=""
hotel_df

,City,Country,Date,Lat,Lon,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
142,Presidente Epitácio,BR,1584498859,-21.76,-52.12,74.41,82,0,2.59,
237,Batemans Bay,AU,1584499049,-35.72,150.18,75.00,45,0,1.01,
265,Dostpur,IN,1584499143,26.28,82.47,72.72,41,0,8.61,
415,Benemérito de las Américas,MX,1584499429,16.52,-90.64,73.02,78,0,3.36,
442,Flinders,AU,1584499522,-34.58,150.86,76.28,41,0,8.05,
545,Dubbo,AU,1584499596,-32.25,148.62,77.00,38,0,4.70,

In [81]:
#Find Hotels for the cities selected

#base url for the Google places API 
baseurl='https://maps.googleapis.com/maps/api/place/nearbysearch/json?'

#The constant parameters
parameters={
    'keyword':'hotel',
    'radius':5000,
    'key': g_key
}


#Using a for loop to find a hotel for each of the cities based on theit Lat and Long
for index,row in hotel_df.iterrows():
    lat=row['Lat']     #capturing the Lat of each row (each city)
    lon=row['Lon']     #capturing the Lon of each row (each city)
    parameters['location']=f'{lat},{lon}'   #Adding the location to the parameters list
    hotelData=requests.get(baseurl,params=parameters).json()   #Do the get request to the API and store the response
    
    #Handling erros
    try:
        hotel_df.loc[index,'Hotel Name']=hotelData['results'][0]['name']
    except:
        hotel_df.loc[index,'Hotel Name']=None

#Displaying it

In [82]:
hotel_df=hotel_df.dropna()
hotel_df

,City,Country,Date,Lat,Lon,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
142,Presidente Epitácio,BR,1584498859,-21.76,-52.12,74.41,82,0,2.59,Hotel Itaverá
237,Batemans Bay,AU,1584499049,-35.72,150.18,75.00,45,0,1.01,Bay Breeze Motel
415,Benemérito de las Américas,MX,1584499429,16.52,-90.64,73.02,78,0,3.36,Hotel La Selva
442,Flinders,AU,1584499522,-34.58,150.86,76.28,41,0,8.05,Shellharbour Resort & Conference Centre
545,Dubbo,AU,1584499596,-32.25,148.62,77.00,38,0,4.70,ibis budget Dubbo

In [83]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_locations = hotel_df[["Lat", "Lon"]]

In [84]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(marker_locations,
    info_box_content = [info_box_template.format(**row) for index, row in hotel_df.iterrows()])

citiesMap.add_layer(markers)
citiesMap

# Display Map

Figure(layout=FigureLayout(height='420px'))